.place__title {
  margin: 0 0 60px;
  max-width: 457px;
  min-height: 133px;
  vertical-align: bottom;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.0625rem;
  position: relative;
}

