.place__title {
  margin: 0 0 60px;
  max-width: 457px;
  min-height: 133px;
  vertical-align: bottom;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.0625rem;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .place__title {
    margin: 0 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    padding: 0 5%;
    max-width: 320px;
    min-height: 104px;
    font-size: 2.625rem;
    line-height: 2.875rem;
  }
}



