@import url(./__item/photo-grid__item.css);

.photo-grid {
  margin: 0 auto 92px;
  padding: 0 5%;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(188px, 1fr));
  grid-gap: 16px;
}
