.cover__subtitle {
  margin: 0;
  max-width: 382px;
  position: absolute;
  bottom: 48px;
  left: 401px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: center;
}
