@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);

.header {
  max-width: 1184px;
  margin: 0 auto 46px;
  padding: 30px 5% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 0 auto 48px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 16px 5% 0;
  }
}
