.video__item {
  width: 49%;
  background-color: #2A2C2F;
}

.video__item:hover .video__link .video__image-link {
  opacity: .3;
  transition: .2s ease-in-out;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .video__item {
    width: 100%;
  }
}
