.place__paragraph {
  margin: 0 0 36px;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 0 24px;
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 1rem;
    line-height: 1.6875rem;
  }
}

@media screen and (max-width: 375px) {
  .place__paragraph {
    width: 90%;
    font-size: 1rem;
    line-height: 1.6875rem;
    margin: 0 auto 24px;
  }
}
