@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);
@import url(./__author/comment__author.css);

.comment {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .comment {
    width: 57%;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .comment {
    width: 100%;
    margin: 0 auto 48px;
  }
}
