.video__subtitle {
  grid-row: 4/5;
  grid-column: 1/2;
  margin: 0 0 0 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .video__subtitle {
    margin: 0 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .video__subtitle {
    margin: 0 0 0 16px;
  }
}
