.cover__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.875rem;
  text-align: center;
  grid-row: 1/2;
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 10vw;
  }
}

@media screen and (max-width: 375px) {
  .cover__title {
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    align-self: flex-start;
    margin-top: 64px;
  }
}
