@import url(./__cover/place__cover.css);
@import url(./__paragraphs/place__paragraphs.css);

.place {
  margin: 0 auto 72px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  .place {
    width: 100%;
    margin: 0 auto 48px;
    flex-direction: column;
  }
}
