@import url(./__cover/place__cover.css);
@import url(./__information/place__information.css);

.place {
  margin: 0 auto 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .place {
    margin: 0 auto 48px;
  }
}
