.comment__image {
  width: 97px;
  height: 97px;
  border-radius: 50%;
  margin-bottom: 42px;
}

@media screen and (max-width: 768px) {
  .comment__image {
    order: 1;
    margin: 15px 0 15px 0;
  }
}

@media screen and (max-width: 375px) {
  .comment__image {
    margin: 0 0 15px 0;
  }
}
