@import url(../__title/place__title.css);
@import url(../__website/place__website.css);

.place__cover {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  justify-content: flex-start;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .place__cover {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .place__cover {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .place__cover {
    width: 100%;
    margin-bottom: 32px;
  }
}
