.intro__title {
  margin: 0 0 32px;
  max-width: 683px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 3.6875rem;
}

@media screen and (max-width: 1023px) and (min-width: 320px) {
  .intro__title {
    width: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__title {
    font-size: 2rem;
    line-height: 2.1875rem;
    margin: 0 0 37px;
  }
}
